<section class="landing">
    <include src="../partials/nav.html"></include>
    <div class="photo1">
        <img class="photo1_img" src=".assets/images/event.jpg" alt="paisaje" />
    </div>
    <p class="pe"> jskajdlakjsd</p>
    <div class="photo2">
        <img src=".assets/images/event.jpg" />
        <div class="photo3">
            <p class="photo3_text">

            </p>
        </div>

    </div>
    <div class="photo4">
        <img src=".assets/images/event.jpg" />

    </div>
    <!-- <include src="./contacNav.html"></include> -->
</section>