@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.body {
  color: rgb(100, 100, 100);
  font-family: 'Poiret One', cursive, helvetica;
  font-size: 70%;
  line-height: 1.3;
  padding: 0px;
}

.p {
  font-size: 1.4rem;
  margin: 0 0 24px 0;
}

.header {
  position: fixed;
  top: 2rem;
  width: 70%;
  z-index: 1111;
  display: flex;
  justify-content: space-around;
}

.nav .ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.nav .li {
  display: flex;
  text-align: center;
}

.nav .li .a {
  color: black;
  font-family: helvetica;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  display: flex;
  width: 80%;
}
.name {
  font-size: 1.5rem;
  color: black;
}
.img-person {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border: 5px solid var(--cool-grey);
  border-radius: 4px;
  padding: 15px;
}
.parallas,
.main,
.texto {
  margin: 0 auto;
}
.ul1 {
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33rem;
  max-width: 100%;
  position: relative;
}

.texto-interior {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.img-uno {
  background-image: url('https://img.freepik.com/foto-gratis/humedales-vegetacion-pantano-ruta-mammoth-padul-granada-andalucia-espana_1139-1638.jpg?w=1060&t=st=1675809010~exp=1675809610~hmac=12fad19afd9778d1cb43325c3e29c7091293332f0fd125b1a0da89a9b3d3a501');
}

.img-dos {
  background-image: url('https://img.freepik.com/foto-gratis/crisantemos-coloridos_181624-17258.jpg?w=900&t=st=1675809125~exp=1675809725~hmac=a678bd619141b741b2214c7984e5a5c026c09be97e147559f4ce377e16032fd3');
}

.img-tres {
  background-image: url('https://img.freepik.com/foto-gratis/primer-plano-agua-azul-amanecer_181624-20980.jpg?w=1060&t=st=1675809406~exp=1675810006~hmac=d007bcf301d192db36a483ae3d8031c1e1ec17559be9bf147031af7281544f1c');
}

.texto {
  padding: 5%;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_article {
  margin-bottom: 10rem;
}
.projects__article {
  width: 90%;
  text-align: center;
  padding-left: 2rem;
  text-decoration: none;
  padding-bottom: 5rem;
  &--image {
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &--description {
    text-decoration: none;
    font-size: 1.2rem;
  }
  &--button {
    margin: 30px;
    padding: 0.375rem 0.75rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: white;
    background-color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
}
.n {
  text-decoration: none;
  color: black;
}
