@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,700&display=swap);

.body {
  color: rgb(100, 100, 100);
  font-family: 'Poiret One', cursive, helvetica;
  font-size: 70%;
  line-height: 1.3;
  padding: 0px;
}

.p {
  font-size: 1.4rem;
  margin: 0 0 24px 0;
  padding: 10px;
}

.header {
  left: 15%;
  position: fixed;
  top: 2rem;
  width: 25%;
  z-index: 1111;
}

.nav .ul {
  display: table;
  list-style-type: none;
  width: 100%;
}

.nav .li {
  display: table-cell;
  text-align: center;
}
.a2 {
  text-decoration: none;
}
.nav .li .a {
  background-color: rgba(50, 50, 50, 0.788);
  border: 2px solid #fff;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}

.name {
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
  font-family: 'Raleway:ital';
}
.name2 {
  font-family: 'Raleway:ital';
  font-size: 3rem;
}
.img-person {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border: 3px solid black;
  border-radius: 40px;
  padding: 5px;
  margin-bottom: 30px;
}
.parallas,
.main,
.texto {
  margin: 0 auto;
}
.ul1 {
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.texto-interior {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
}

.img-uno {
  background-image: url('../images/humedales.jpg');
}

.img-dos {
  background-image: url('../images/flores.jpg');
}

.img-tres {
  background-image: url('../images/mar.jpg');
}

.texto {
  padding: 5%;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_article {
  margin-bottom: 10rem;
}
.projects__article {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  padding-bottom: 0rem;
  border: 2px solid black;
  margin-bottom: 40px;
  // margin-left: 50px;
  color: black;

  &--image {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  &--description {
    text-decoration: none;
    padding: 2px;
    font-size: 1rem;
  }
  &--description2 {
    display: none;
  }
  &--button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: white;
    background-color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
  }
}
.div-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.n {
  text-decoration: none;
  color: black;
}
.texto3 {
  padding: 5%;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .name {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .texto {
    flex-direction: row;
  }
  .p {
    padding: 70px;
  }
  .name2 {
    font-weight: bold;
    font-size: 4rem;
  }
  .ul1 {
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 1.4rem;
  }
  .texto3 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-size: 1rem;
  }
  .projects__article {
    margin: 10px;
    &--description {
      font-size: 1.2rem;
    }
  }
}
@media all and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .texto {
    padding: 50px;
  }
  .p {
    padding: 180px;
  }
  .name {
    font-size: 3.5rem;
  }
  .name2 {
    font-size: 6rem;
  }
  .ul1 {
    font-size: 2.5rem;
  }
  .texto3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1500px) {
  .projects__article {
    width: 350px;
    height: 350px;
    &--description {
      font-size: 1.2rem;
    }
  }
  .name {
    font-size: 5rem;
  }
  .texto {
    padding: 150px;
  }
  .img-person {
    width: 280px;
    height: 280px;
  }
  .p {
    font-size: 2rem;
  }
  .name2 {
    font-size: 6rem;
  }
}
.contact {
  background-color: white;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  &__icon {
    width: 30px;
    margin: 1rem 1rem;
    align-items: center;
    margin-top: 20px;
    @media (min-width: 768px) {
      width: 60px;
      padding: 3rem;
      padding-bottom: 2rem;
    }
    @media (min-width: 1200px) {
      width: 60px;
      padding: 3rem;
      padding-bottom: 2rem;
      margin-top: 0px;
    }
  }
}
